https://download.pytorch.org/whl/cpu/torch-2.0.1%2Bcpu-cp310-cp310-linux_x86_64.whl
fastapi[all]
accelerate
python-dotenv
fastapi-sqlalchemy
pydantic
alembic
psycopg2
uvicorn
python-dotenv
transformers>=4.22.0